doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom Clone
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Noom
        main
            a(href="/chat") 채팅
            <hr>
            div#welcome
                form
                    input(placeholder="방 제목", required, type="text")
                    button Enter
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline,width="400",height="400")
                    button#mute 소리 끄기
                    button#camera 카메라 끄기
                    select#cameras 카메라 선택
                div#peer_div
                    video#peerFace(autoplay,playsinline,width="400",height="400")
                    button#mute 소리 끄기
                    button#camera 카메라 끄기
                    select#cameras 카메라 선택
            //- Chat Rooms
            //- div#welcome
            //-     form
            //-         input(placeholder="방 이름", required, type="text")
            //-         button 방 입장
            //-     h4 방 목록
            //-     ul
            //- div#room
            //-     h4
            //-     h3
            //-     ul
            //-     form#msg
            //-         input(placeholder="메세지를 입력하세요", required, type="text")
            //-         button 전송
            //-     form#nick
            //-         input(placeholder="님네임을 입력하세요", required, type="text")
            //-         button 저장
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")